.jumbotron {
    padding: 0.5em 0.6em;
    h1 {
        font-size: 2em;
    }
    p {
        font-size: 1.2em;
        .btn {
            padding: 0.5em;
        }
    }
}

body {
    background-color: #e8ecf3;
    margin:0px;
}

/* debugging centerline  */
.center-line {
    position: fixed;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: rebeccapurple;
    transform: translateX(-50%);
    z-index: 1000;
}