{% extends "base.html" %} {% block head %} {{ super() }}
<script src="{{url_for('static', filename='js/login.js') }}" defer></script>

{% endblock %}
{% block content %}
  <link rel="stylesheet" href="{{ url_for('static', filename='login/login.css') }}" type="text/css" />
      <div id="signInImg">
        <div class="login">
          
            <h1 id="loginH1">LOGIN</h1>
            <div id="buttonSlider">
              <button id="loginButton" class="sliderButtonActive" onclick="showLogin()">LOGIN</button>
              <button id="signinButton" class="sliderButtonInactive" onclick="showSignup()">SIGNUP</button>
            </div>
            <form method="post" action="/login">
              <fieldset class="login">
              <div id="ImLoggingIn" class="loginInputs"> 
                  <input type="text" name="username" class="signinInput" placeholder="username" id="username">
                  <input id="password_input"  type="password" name="password" class="signinInput" placeholder="Password" >  
                  
                  <input class="logInButton" type="submit" name="type" value="Login" />
              </div>
              <div id="ImCreatingAnAccount"  class="loginInputs">
                  <input class="signinInput" name="new_first_name" placeholder="First Name" type="text" id="new_first_name">
                  <input class="signinInput" name="new_last_name" placeholder="Last Name" type="text" id="new_last_name">
                  <input id="new_username" name="new_username" class="signinInput" placeholder="Username" type="text" >
                  <input id="new_password" name="new_password" class="signinInput" placeholder="Password" type="password" >
                  <input class="logInButton" type="submit" name="type" value="Create" />          
              </div>
              <p>Forgot password?</p> 
            </fieldset>
        </form> 
          </div>
      </div>


    </div>
  </div>
</div>
{% endblock %}
