{% extends "base.html" %} {% block head %} {{ super() }}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='profile/css/profile.css') }}"
  type="text/css"
/>
<script src="{{ url_for('static', filename='profile/js/profile.js')}}"></script>
{% endblock %} {% block content %}

<div id="profile_body">
  <div id="profile">
    <div id="profile_information">
      <img id="profile_img" src="static/profile/images/profileExample.jpg" />
      <div>
        <div class="space_between" id="profile_buttons">
          <h1 id="profile_name">{{ first_name }} {{ last_name }}</h1>
          <button class="actual_buttons">use points</button>
          <button class="actual_buttons">edit profile</button>
        </div>
        <div class="space_between" id="profile_text">
          <h4>7 posts</h4>
          <h4>{{friends}} friends</h4>
          <h4>{{points}} points</h4>
          <h4>IQ: {{iq}}</h4>
        </div>
      </div>
    </div>
    <div id="center">
      <div id="gallery">
        <img
          class="gallery_images"
          src="static/profile/images/profileExample.jpg"
        />
        <img
          class="gallery_images"
          src="static/profile/images/profileExample.jpg"
        />
        <img
          class="gallery_images"
          src="static/profile/images/profileExample.jpg"
        />
        <img
          class="gallery_images"
          src="static/profile/images/profileExample.jpg"
        />
        <img
          class="gallery_images"
          src="static/profile/images/profileExample.jpg"
        />
        <img
          class="gallery_images"
          src="static/profile/images/profileExample.jpg"
        />
      </div>
    </div>
  </div>
</div>

{% endblock %}
